{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": false,
            "loose": true,
        }]
    ],
    "plugins": [
        "@babel/plugin-transform-flow-strip-types",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        ["@babel/plugin-transform-runtime", {
            "regenerator": true
        }]
    ]
}
