{
    "parserOptions": {
        "ecmaVersion": 2018,
        "ecmaFeatures": {
            "modules": true
        },
        "sourceType": "module"
    },
    "parser": "babel-eslint",
    "plugins": ["prettier", "flowtype", "import", "jest"],
    "extends": [
        "airbnb-base",
        "eslint:recommended",
        "plugin:flowtype/recommended",
        "prettier"
    ],
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "webextensions": true,
        "jest": true,
        "jasmine": true
    },
    "globals": {},
    "rules": {
        "camelcase": "off", // airbnb-base: camelcase is used a lot (protobuf)
        "no-plusplus": "off", // airbnb-base: irrelevant
        "no-bitwise": "off", // airbnb-base: used in hardending
        "consistent-return": "off", // airbnb-base: irrelevant
        "import/prefer-default-export": "off", // irrelevant
        "import/no-extraneous-dependencies": "off", // TODO: until there are two versions of connect
        "require-await": "error", // disabled by airbnb-base
        "prettier/prettier": "error",
        "no-underscore-dangle": "off", // TODO: underscore-dangle should be refactored
        "class-methods-use-this": "off", // irrelevant, TODO: consider enabling after refactoring to TS
        "no-await-in-loop": "off", // TODO: needs refactor in multiple files
        "no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^_" // allow underscored args
            }
        ],
        "no-param-reassign": "off" // TODO: needs refactor
        // "flowtype/object-type-delimiter": ["error", "semicolon"], // enforce flowtype semicolons, doesnt work with prettier
    },
    "overrides": [
        {
            "files": ["**/types/__tests__/*.js"],
            "rules": {
                "no-unused-expressions": "off"
            }
        },
        {
            "files": [
                "**/examples/**/*.js",
                "**/scripts/**/*.js",
                "**/tests/**/*.js",
                "**/webpack/**/*.js"
            ],
            "rules": {
                "no-console": "off"
            }
        },
        {
            "files": [ "**/examples/**/*.js" ],
            "rules": {
                "import/no-unresolved": "off"
            }
        }
    ]
}
