{
    "parserOptions": {
        "ecmaVersion": 2018,
        "ecmaFeatures": {
            "modules": true
        },
        "sourceType": "module"
    },
    "parser": "babel-eslint",
    "plugins": ["prettier", "flowtype", "import", "jest"],
    "extends": [
        "airbnb-base",
        "eslint:recommended",
        "plugin:flowtype/recommended",
        "prettier"
    ],
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "webextensions": true,
        "jest": true,
        "jasmine": true
    },
    "globals": {},
    "rules": {
        "camelcase": "off", // airbnb-base: camelcase is used a lot (protobuf)
        "no-plusplus": "off", // airbnb-base: irrelevant
        "no-bitwise": "off", // airbnb-base: used in hardending
        "consistent-return": "off", // airbnb-base: irrelevant
        "import/prefer-default-export": "off", // irrelevant
        "import/no-extraneous-dependencies": "off", // TODO: until there are two versions of connect
        "require-await": "error", // disabled by airbnb-base
        "prettier/prettier": "error",
        "no-underscore-dangle": "off", // TODO: underscore-dangle should be refactored
        "class-methods-use-this": "off", // irrelevant, TODO: consider enabling after refactoring to TS
        "no-await-in-loop": "off", // TODO: needs refactor in multiple files
        "no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^_", // allow underscored args,
                "varsIgnorePattern": "^_" // allow underscored variables
            }
        ],
        "no-param-reassign": "off", // TODO: needs refactor
        "no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"] // airbnb-base: allow ForInStatement and ForOfStatement
        // "flowtype/object-type-delimiter": ["error", "semicolon"], // enforce flowtype semicolons, doesnt work with prettier
    },
    "overrides": [
        {
            "files": ["**/types/__tests__/*.js", "**/types/__tests__/*.ts"],
            "rules": {
                "no-unused-expressions": "off"
            }
        },
        {
            "files": [
                "**/examples/**/*.js",
                "**/scripts/**/*.js",
                "**/tests/**/*.js",
                "**/webpack/**/*.js"
            ],
            "rules": {
                "no-console": "off"
            }
        },
        {
            "files": [ "**/examples/**/*.js" ],
            "rules": {
                "import/no-unresolved": "off"
            }
        },
        {
            "files": [
                "**/*.ts"
            ],
            "parser": "@typescript-eslint/parser",
            "plugins": ["import", "@typescript-eslint"],
            "rules": {
                "flowtype/no-types-missing-file-annotation": "off", // flowtype errors are irrelevant for typescript
                "import/no-unresolved": "off", // imports are resolved below
                "import/extensions": ["error", { "parser": "typescript" } ], // import typescript *.d.ts files
                "no-unused-vars": "off", // api method params mostly
                "no-shadow": "off", // typescript enum, use parser below
                "@typescript-eslint/no-shadow": ["error"],
                "prettier/prettier": ["error", {"semicolon": true, "parser": "typescript"}] // use ";" instead of ","
            }
        }
    ]
}
