# Builds
_old
build
/npm
npm-extended
messages.proto

# Dependency directory
node_modules
package-lock.json

# OSX
.DS_Store

# Editors
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
.yarnclean
coverage

# Cache
__pycache__

# dev
webpack/connect_dev.crt
webpack/connect_dev.key
