# Npm library
# lib

# tmp for npm test
#.babelrc
#.flowconfig
#.editorconfig
#.yarnclean
#browserslist
#yarn.lock
_old
dist

/examples
#flowtype
#src
#webpack

# Dependency directory
node_modules

# OSX
.DS_Store

# Editors
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
.yarnclean
