# Dev directories
webpack
src
build
__tests__
__fixtures__
_old
.babelrc
.flowconfig
flowtype
.gitignore
messages.proto

# CI
.github

# Example directories
examples

# Dependency directory
node_modules
yarn.lock

# OSX
.DS_Store

# Editors
.editorconfig
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
.yarnclean
