sudo: false
language: node_js
build: trusty

node_js:
  - "12.14.1"

env:
  - TEST_METHODS=signTransaction # signTransaction takes long, so has own job
  - TEST_METHODS=getAccountInfo,getAddress,getPublicKey,signMessage,verifyMessage
  - TEST_METHODS=stellarGetAddress,stellarSignTransaction
  - TEST_METHODS=cardanoGetAddress,cardanoGetPublicKey,cardanoSignTransaction
  - TEST_METHODS=eosGetPublicKey,eosSignTransaction
  - TEST_METHODS=ethereumGetAddress,ethereumGetPublicKey,ethereumSignMessage,ethereumSignTransaction,ethereumVerifyMessage
  - TEST_METHODS=liskGetAddress,liskSignMessage,liskSignTransaction,liskVerifyMessage
  - TEST_METHODS=nemGetAddress,nemSignTransaction
  - TEST_METHODS=rippleGetAddress,rippleSignTransaction
  - TEST_METHODS=tezosGetAddress,tezosGetPublicKey
  - TEST_METHODS=binanceSignTransaction
  - TEST_METHODS=applySettings,applyFlags,getFeatures

script: travis_wait ./tests/run.sh -f 2.3.4 -i ${TEST_METHODS}

services:
  - docker
