#trezorconnect-wrapper {
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
}

#trezorconnect-button {
    font-size: 14px; 
    display: block; 
    padding: 6px 12px; 
    margin-bottom: 0; 
    font-weight: normal; 
    line-height: 1.42857143; 
    white-space: nowrap; 
    vertical-align: middle; 
    cursor: pointer; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    border: 1px solid transparent; 
    border-radius: 4px; 
    text-decoration: none; 
    position:relative; 
    padding-left:44px; 
    color:#fff; 
    background-color:#59983b; 
    border-color:rgba(0,0,0,0.2);
} 

#trezorconnect-button:hover{
    background-color:#43732d
} 

#trezorconnect-icon{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:32px;
    line-height:34px;
    font-size:1.6em;
    text-align:center;
    border-right:1px solid rgba(0,0,0,0.2);
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABWklEQVRYw+2WPUsDQRCGZ0w0RRQUCwUllT9AFAQra/+BjYiQRgRBBFv/goWFlVjaBm1SCVpZiIKgha1iI4iFXxDz2MzBEe6SveOWIOwLx3I7X+/NzuyNSEBADgDrQAN4Al6AU2ADKPkOPAk0ScclUPNJIB78ETgEDoD72P6Vl0xY2iMcA5WYrGxEImz7INCIfXklQV4CbkznwtXvQAYO87Y2VfWnU6iqvyJyZq+zrseQhcCUrc9ddCLZiD2FEuhbzy92FJgrjoClXv7VgcCriIzn5P+hqsPdFMoOTgZT9r9E5NOOsSoiQzn998zAeyylC0AV0JQ2HAOWgVuz+S6SwEoGmxNXAn3vgkAgEPgXV3HUhg/ALjDdRXcO2AfefNwDEdrAOVAHRm1M2wHuEv4HhRBYtVGslRQgZb9lNmtFD6RbNvMloW1D6SYw4bsuZoA9q4trq42aBATkwB8MsRcDkn7CNQAAAABJRU5ErkJggg==') no-repeat;
    background-position:center center;
} 

#trezorconnect-info {
    display: block;
    font-size: 9px;
    text-align: right; 
    margin-top: 2px;
    margin-right:5px;
}

#trezorconnect-infolink {
    text-decoration: none; 
    color: #59983b;
}

#trezorconnect-infolink:hover {
    color:#43732d;
}


