.select-account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .wrapper {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h3 {
        margin-bottom: 16px;
    }

    .tabs {
        position: relative;
        top: -24px;

        display: none;
        flex-direction: row;
    }

    .tab-selection {
        position: relative;
        width: 50%;
        padding: 16px 0px;

        // Grey border
        border-bottom: 2px solid @color_divider;

        // Green border (active)
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            border-bottom: 3px solid @color_white;
            line-height: 1px;
            left: 0px;
            bottom: -1px;
            transition: border-color 0.3s, color 0.3s;
        }
        &:hover,
        &:active,
        &.active {
            cursor: pointer;
            color: @color_green_primary;
            &:after {
                border-color: @color_green_primary;
            }
        }

        &:not(.active) {
            color: @color_text_secondary;
        }
    }

    &.normal {
        .select-account-list.normal {
            display: block;
        }
        .tab-selection.normal {
            cursor: pointer;
            color: @color_green_primary;
            &:after {
                border-color: @color_green_primary;
            }
        }
    }

    &.legacy {
        .select-account-list.legacy {
            display: block;
        }
        .tab-selection.legacy {
            cursor: pointer;
            color: @color_green_primary;
            &:after {
                border-color: @color_green_primary;
            }
        }
    }

    .select-account-list {
        margin: 0 30px 30px;
        overflow-y: scroll;
        display: none;

        // Must be specifically set for Firefox
        // otherwise table will overflow from the view
        max-height: 315px;

        border-top: 1px solid @color_divider;
        border-bottom: 1px solid @color_divider;

        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;

        button.list {
            display: flex;
        }

        button.list:first-child {
            border-top: transparent;
        }

        button.list:last-child {
            border-bottom: transparent;
        }

        button {
            align-items: center;
            transition: 0s;

            &.disabled {
                .account-title, .account-status {
                    color: fade(@color_divider, 50%);
                }
            }

            .account-title {
                flex: 1;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin-right: 10px;
                font-weight: 500;
                font-size: 14px;
                color: @color_text_primary;
            }

            .account-status {
                text-align: right;
                font-size: 12px;
                color: @color_text_secondary;
            }
        }

        svg, p {
            color: @color_text_secondary;
            fill: @color_text_secondary;
            transition: color 0.3s ease-in-out, fill 0.3s ease-in-out;
        }

        &:hover,
        &:active,
        &.active {
            svg, p {
                color: @color_info_primary;
                fill: @color_info_primary;
            }
        }
    }

    .enable-labeling {
        padding: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        background: transparent;

        svg {
            padding: 0;
            margin-right: 12px;
            width: 26px;
            height: 24px;
        }

        svg, p {
            color: @color_text_secondary;
            fill: @color_text_secondary;
            transition: color 0.3s ease-in-out, fill 0.3s ease-in-out;
        }

        &:hover,
        &:active,
        &.active {
            svg, p {
                color: @color_info_primary;
                fill: @color_info_primary;
            }
        }
    }
}

@media screen and (max-width: 639px) {
    .select-account {
        .select-account-list {
            overflow: visible;
            max-height: none;
        }

        .enable-labeling {
            margin-bottom: 24px;
        }
    }
}
