.export-account-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    display: flex;
    flex-direction: column;

    span {
      .test-ellipsis();
      flex: 1;
    }
  }

  .buttons {
    .confirm {
      margin-bottom: 10px;
    }
  }
}