.export-xpub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  h3 {
    display: flex;
    flex-direction: column;

    span {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .confirm {
      margin-bottom: 10px;
    }
  }
}
