.passphrase {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .inputs {
        width: 100%;
    }

    .title {
        h3 {
            display: flex;
            justify-content: center;
            white-space: nowrap;
            span {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin: 0px 4px;
            }
        }

        p {
            margin: 5px 0;
        }
    }


    label:not(.custom-checkbox) {
        display: block;
        padding-bottom: 6px;

        font-weight: 300;
        color: @color_text_secondary;
    }

    .row {
        position: relative;
        text-align: left;

        padding-top: 16px;
        font-weight: 300;
        font-size: 14px;

        &:not(:first) {
            padding-top: 24px;
        }

        .error {
            position: absolute;
            padding-top: 4px;
            font-size: 12px;
            color: @color_error_primary;
            display: none;
        }

        input {
            width: 100%;

            font-size: 21px;
            font-weight: bold;
            letter-spacing: 8px;
        }
    }

    &.not-valid {
        .error {
            display: block;
        }
    }

    .confirm-button {
        margin-bottom: 20px;
    }
}
