.permissions {
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .list-wrapper {
    flex: 1;
  }

  input:checked + .indicator:after {
    background-color: @color_info_primary;
    border-color: @color_info_primary;
  }

  .permissions-list {
    max-height: 260px;

    overflow-y: scroll;

    list-style: none;
    padding: 26px;
    margin: 24px 0 20px;

    border-radius: 4px;
    background-color: @color_info_secondary;

    text-align: left;

    li {
      color: @color_info_primary;
      font-size: 12px;
      font-weight: 300;
      &:not(:first-child) {
        margin-top: 26px;
      }
    }

    .info-icon::after {
      .icomoon-info;
      position: relative;
      top: 7px;

      color: @color_info_primary;
      font-size: 28px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;

    .confirm-button {
      margin-bottom: 10px;
      background-color: @color_info_primary;
    }
  }
}
