.select-device {
    .wrapper {
        height: 100%;

        display: flex;
        flex-direction: column;

        .select-device-list {
            margin: 17px 0 29px;
            overflow-y: scroll;

            button {
                padding: 0;

                &.device-explain {
                    height: auto;
                    pointer-events: auto;

                    &:hover:not(.unacquired) {
                        cursor: default;
                    }
                }

                .wrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    padding: 10px 15px;
                }

                .icon {
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    vertical-align: middle;
                    background-repeat: no-repeat;

                    background-image: url('../../../images/icon-trezor.png');
                    background-size: 14px 24px;

                    &.model-t {
                        background-image: url('../../../images/icon-trezorT.png');
                    }

                    &.unknown {
                        background-image: url('../../../images/icon-unknown.png');
                    }
                }


                .explain {
                    padding: 15px 10px;

                    font-weight: 400;
                    font-size: 12px;
                    color: @color_warning_primary;
                    background-color: @color_warning_secondary;

                    &.unacquired {
                        box-shadow: inherit;

                        color: @color_info_primary;
                        background-color: @color_info_secondary;
                    }
                }
            }
        }

        .check-devices {
            margin-top: 18px;
        }

        input:checked + .indicator:after {
            background-color: @color_green_primary;
            border-color: @color_green_primary;
        }
    }

    .webusb {
        .webUsbBase()
    }
}
