.select-device {
    .wrapper {
        height: 100%;

        display: flex;
        flex-direction: column;

        .select-device-list {
            flex: 1;
            margin: 17px 0 29px;
            overflow-y: scroll;

            button {
                .icon {
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    vertical-align: middle;
                    background-repeat: no-repeat;

                    background-image: url('../../../images/icon-trezorT.png');
                    background-size: 14px 24px;

                    &.model-t {
                        background-image: url('../../../images/icon-trezor.png');
                        background-size: 14px 24px;
                    }
                }
            }
        }

        .check-devices {
            margin-top: 18px;
        }

        input:checked + .indicator:after {
            background-color: @color_green_primary;
            border-color: @color_green_primary;
        }
    }
}
