aside {
    display: flex;
    flex-flow: column;

    width: 50%;
    height: 100%;
    border-right: 1px solid @color_divider;
    background-color: @color_landing;

    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;

        padding: 24px;
    }

    svg {
        width: auto;
        height: 24px;
        align-self: flex-start;
        margin-right: 20px;
    }

    .info-panel {
        .test-ellipsis();

        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h2, p {
            .test-ellipsis();
            word-break: break-word;
        }
    }
}
