.bootloader {
  height: 100%;
  width: 100%;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    svg {
      height: auto;
      width: 25px;

      align-self: center;
      .connect-usb-pin,
      .connect-usb-cable {
          animation: connect 1.3s ease-out infinite;
      }
    }

    p {
      margin: 15px 0 0 0;

      font-size: 16px;
      font-weight: 500;
      color: @color_green_primary;

      animation: pulsate 1.3s ease-out infinite;
    }


    .divider {
      display: block;
      margin: 20px 0;

      text-align: center;
      overflow: hidden;
      white-space: nowrap;

      span {
        position: relative;
        display: inline-block;

        font-size: 14px;
        color: @color_text_secondary;

        &:before, &:after {
          content: "";
          position: absolute;
          top: 50%;
          width: 9999px;
          height: 1px;
          background: @color_divider;
        }

        &:before {
          right: 100%;
          margin-right: 15px;
        }

        &:after {
          left: 100%;
          margin-left: 15px;
        }
      }
    }

    .check-devices-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;

      line-height: 1;
      .plus {
        margin-right: 10px;
        &::after {
          .icomoon-plus;
        }
      }

      .text {
        font-size: 14px;
        color: @color_white;
      }
    }
  }
}

@keyframes pulsate {
    0%, 100% {
      opacity: 0.5;
    }
    50% {
      opacity: 1.0;
    }
}

@keyframes connect {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
        transform: translateY(-4px)
    }
}
