.loader {
    position: relative;
    width: 132px;
    height: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    p {
        position: absolute;
        color: @color_text_secondary;
        margin: 0;
        width: 100%;
        padding: 0px 24px;
    }

    .circular {
        width: 100%;
        height: 100%;
        .animation-rotate();
        transform-origin: center center;

        position: absolute;

        .route {
            stroke: @color_gray_light;
        }

        .path {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
            .animation-dash-color();
            stroke-linecap: round;
        }
    }
}
