@default_popup_width: 639px;
@mobile_break: calc(@default_popup_width - 1px);

@media screen and (max-width: @default_popup_width) {
    main {
        flex-direction: column;
        min-height: none;
    }
    section, aside {
        width: 100%;
        height: auto;
    }

    aside {
        .wrapper {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        svg {
            align-self: auto;
        }

        .info-panel {
            text-align: right;
            h2 {
                font-size: 16px;
                padding-top: 5px;
            }
        }
        .labeling {
            display: none;
        }
    }

    section {
        flex: 1;

        div > svg {
            width: auto;
            height: 70px;
        }

        div.pin {
            // The .pin view is the only that overflows on mobile
            min-height: 528px;
        }

        div.passphrase {
            padding: 20px 30px;
        }

        div.select-device {
            div.select-device-list {
                // Firefox
                max-height: 161px;
            }
        }

        div.browser {
            flex-direction: column;
        }
    }

    // Fee selection is scrollable on mobile
    // if custom fee is selected
    .confirm {
        margin-top: 25px;
    }
}
