.passphrase {
    width: 100%;
    padding: 0px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h3 {
        display: flex;
        justify-content: center;
        white-space: nowrap;
        span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin: 0px 4px;
        }
    }

    p {
        margin: 5px 0;
        font-size: 12px;
        color: @color_text_secondary;
    }

    label:not(.custom-checkbox) {
        display: block;
        padding-bottom: 6px;
        color: @color_text_secondary;
    }

    .row {
        position: relative;
        text-align: left;
        padding-top: 24px;

        .error {
            position: absolute;
            padding-top: 4px;
            font-size: 12px;
            color: @color_error_primary;
            display: none;
        }
    }

    .submit {
        width: 100%;
        margin-top: 24px;
        margin-bottom: 14px;
    }

    &.not-valid {
        .error {
            display: block;
        }
    }
}
