@button_size: 80px;
<<<<<<< HEAD

.pin {
    width: 100%;
    max-width: 300px;
    padding: 0px 24px;

    h3 {
        display: flex;
        justify-content: center;
        white-space: nowrap;
        padding: 0px 24px;
        span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin: 0px 4px;
        }
    }
=======
@pin_horizontal_margin: 10px;

.pin {
    margin-left:  @pin_horizontal_margin;
    margin-right: @pin_horizontal_margin;
    width: 50%;
>>>>>>> 8f8ec1c6c834179e9c3fd7e1227e80b2d2330ad6

    .pin-row {
        display: flex;
        justify-content: space-between;
        button {
<<<<<<< HEAD
            width: 30%;
            height: @button_size;
            margin-top: 10px;
            //margin-left: 10px;
=======
            width:  @button_size;
            height: @button_size;
            margin-top: 10px;
            margin-left: 10px;
>>>>>>> 8f8ec1c6c834179e9c3fd7e1227e80b2d2330ad6
            font-size: 22px;
            font-weight: 600;
            color: @color_text_primary;
            border: 1px solid @color_divider;
            background: @color_white;
            transition: all 0.3s;

            &:first-child {
                margin-left: 0;
            }
            &:hover {
                color: @color_text_primary;
                border-color: @color_text_secondary;
            }
            &:active {
                color: @color_text_primary;
                background: @color_divider;
                border-color: @color_divider;
            }
        }
    }

    .pin-input-row {
        margin-top: 24px;
        display: inline-block;
        position: relative;

        input {
            letter-spacing: 6px;
            line-height: 48px;
            font-weight: 600;
            font-size: 32px;
            width: 100%;
            height: auto;
            padding: 0px 31px;
            color: @color_text_primary;
            background: transparent;
        }

        .pin-backspace {
            position: absolute;
            right: 14px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            padding: 0;
            &:after {
                font-size: 32px !important; // FIXME
                .icomoon-back;
            }
        }
    }

    .submit {
        position: relative;
        width: 260px;
        margin-top: 24px;
        margin-bottom: 14px;
    }
<<<<<<< HEAD
}


.invalid-pin {
    display: flex;
    flex-direction: column;
    .loader {
        flex: 1;
    }
=======
>>>>>>> 8f8ec1c6c834179e9c3fd7e1227e80b2d2330ad6
}

