[tooltip] {
    position: absolute;
    z-index: 1000;
}

[tooltip]::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: @color_tooltip transparent transparent transparent;
    z-index: 100;
    opacity: 0;
}

[tooltip]::after {
    content: attr(tooltip);
    padding: 10px 15px;
    position: absolute;
    left: 70px;
    top: -6px;
    min-width: 150px;
    max-width: 300px;
    max-height: 150px;
    transform: translateX(-50%) translateY(-100%);

    border-radius: 5px;
    background: @color_tooltip;

    color: #fff;
    font-size: 12px;
    text-align: left;

    pointer-events: none;
    opacity: 0;
}

[tooltip-position='bottom']::before {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translateY(-100%) rotate(-180deg)
}

[tooltip-position='bottom']::after {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translateY(0%);
}

[tooltip]:hover::after, [tooltip]:hover::before {
    opacity: 1;
}
