name: "connect version check"

on:
  pull_request:
    branches: [v8]

jobs:
    version_commit_check:
      name: Check connect version commit message
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - run: |
            ./scripts/ci-check_release_commit_messages.sh

    version_bump_check:
      name: Check connect version bump
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-node@v2
        - run: |
            yarn install
            REMOTE_VERSION=$(npm show trezor-connect version)
            node scripts/ci-check-version.js $REMOTE_VERSION v8
